.App {
  text-align: center;  
  display: flex;  
  flex-direction: column;
}



.App-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Main {  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  border: 1px solid rgba(0, 0, 0, 0.1);  
  border-radius: 10px;  
  padding: 20px;  
  background-color: #ffffff;  
}

.App-link {
  color: #000000;
}


.hoverable-container {
  position: relative;
}

.add-author-button {
  padding: 10px 20px;
  background-color: #252525;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}

.modal-title {
  text-align: center;
}

.cancel-button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error-notification {
  background-color: #f83333;
  border: 1px solid #fa3333;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.error-icon {
  font-size: 18px;
  color: #a94442;
  margin-right: 10px;
}

.error-message {
  font-size: 16px;
  color: #a94442;
}

.error-notification {
  opacity: 1;
  transition: opacity 1s ease-out;  
}

.error-notification.hidden {
  opacity: 0;  
}

.list-container {
  width: 100%;
  box-sizing: border-box;
}


.list-search {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.list-item {
  margin: 5px 0;
}


.list-item a {
  text-decoration: none;
  color: #000000;
}

.list-item a:hover {
  text-decoration: underline;
}

.textfield-container .textfield-error-message {
  color: red !important; 
  margin-top: 0.25rem;
  font-size: 0.875rem;
  display: block;
}

.textfield-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.textfield-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textfield-input-error {
  border-color: red;  
}

.textfield-error-message {
  color: red !important;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.error-notification {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.error-message {
  font-size: 14px;
}

.dropdown-container {
  position: relative;
  margin-bottom: 1rem;
}

input, select {
  width: 95%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  padding-right: 2rem; 
}


.google-docs-textarea {
  width: 95%;
  height: 200px;
  padding: 10px; 
  font-size: 16px; 
  resize: vertical; 
  overflow-y: auto; 
}

.formik-error {
  color: #fa3333;
  font-size: small;
}


.Main {
  padding: 20px;
  max-width: 50%;
}

.Main h1 {
  margin-bottom: 5px;
}

.Main span {
  font-size: 18px;
  color: #666;
  margin-left: -10px; /* adjust this value to bring the email closer to the name */
}

.Main ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Main ul > li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.Main ul > li:last-child {
  border-bottom: none;
}

.Main ul > li div {
  margin-bottom: 10px;
}

.Main ul > li div strong {
  font-weight: bold;
  color: #333;
}

.Main ul > li div:last-child {
  margin-bottom: 0;
}