.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #807b7b;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s ease;
  }
  
  .navbar a:hover {
    color: #ccc;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      padding: 0.5em;
    }
  }